@import url("../css/common.css");
@import url("../css/header.css");
@import url("../css/footer.css");
.contactview {
  padding: 330px 0 160px 0;
}
.contactview > img {
  display: block;
  margin: 0 auto;
  padding: 0 5% 100px;
}