@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

a {
  color: #1A1919;
  text-decoration: none;
}

ul, li {
  list-style: none;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #EFEFF0;
}

.footer {
  display: flex;
  padding: 0 5% 2px 3%;
}
.footer-left-mail {
  font-size: 0.9rem;
  position: relative;
}
.footer-left-mail::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 36%;
  /*線の形状*/
  width: 65%;
  height: 2px;
  background: #1A1919;
  /*アニメーションの指定*/
  transition: all 0.5s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
}
.footer-left-mail:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
.footer-right {
  padding-top: 10px;
  margin-left: auto;
}