@charset "UTF-8";
a {
  color: #1A1919;
}

body {
  background-color: #EFEFF0;
}

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 1430px;
  padding: 50px 2% 0 2%;
}
.header-logo > img {
  vertical-align: middle;
  width: 70px;
}
.header-list {
  margin-left: auto;
}
.header-list > ul {
  display: flex;
  align-items: center;
}
.header-list > ul > li {
  margin-left: 40px;
}
.header-list > ul > li > a {
  display: block;
  position: relative;
  padding-bottom: 3px;
}
.header-list > ul > li > a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 100%;
  height: 2px;
  background: #1A1919;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
}
.header-list > ul > li > a:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}

.workview {
  padding-top: 280px;
}
.workview > img {
  display: block;
  margin: 0 auto;
  padding: 0 5% 100px;
}

.content-item {
  display: flex;
}
.content-item-card {
  width: 33.3333333333%;
  background-color: #000;
  position: relative;
}
.content-item-card > img {
  width: 100%;
  height: 305px;
}
.content-item-card-hover {
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  opacity: 0;
  width: 60%;
  height: 60%;
  transition: all 0.6s ease;
  text-align: center;
}
.content-item-card-hover > p {
  color: #000;
  font-weight: bold;
  padding-top: 23%;
}
.content-item-card-hover:hover {
  opacity: 1;
}
.content-btn {
  text-align: center;
  margin: 100px 0 200px;
  /*hoverした際の形状*/
}
.content-btn-more {
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 1px solid #1A1919; /* ボーダーの色と太さ */
  padding: 10px 30px;
  text-align: center;
  outline: none;
  /*アニメーションの指定*/
  transition: ease 0.2s;
  /*ボタン内spanの形状*/
}
.content-btn-more > span {
  position: relative;
  z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #1A1919;
}
.content-btn-more:before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: #1A1919;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform 0.4s;
  transform: scale(0, 1);
  transform-origin: top;
}
.content-btn-more:hover:before {
  transform: scale(1, 1);
}
.content-btn-more:hover span {
  color: #fff;
}

.footer {
  display: flex;
  padding: 0 5% 2px 3%;
}
.footer-left-mail {
  font-size: 0.9rem;
  position: relative;
}
.footer-left-mail::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 36%;
  /*線の形状*/
  width: 65%;
  height: 2px;
  background: #1A1919;
  /*アニメーションの指定*/
  transition: all 0.5s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
}
.footer-left-mail:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
.footer-right {
  padding-top: 10px;
  margin-left: auto;
}